@media only screen and (max-width: 420px) {
    .hd {
        justify-content: space-between;
    }
    .hd__btn-menu {
        position: relative;
    }
    
    .hd__logo {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .move {
        width: 100%;
        border-radius: 0;
    }
    
    .open {
        left: 32px;
    }
}

@media only screen and (min-width: 425px) {
    .hp__container___title {
        font-size: 3rem;
        line-height: 5rem;    
    }
}

@media only screen and (min-width: 768px) {
    .hp__container___title {
        font-size: 5rem;
        line-height: 6rem;    
    }
}

@media only screen and (min-width: 1024px) {
    .hd {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        margin: 0 110px;
    }

    .hd__nav {
        position: relative;
        padding: 0;
        order: 2;
        left: 0;
    }

    .hd__nav___list {
        gap: 10px;
        display: flex;
        text-align: center;
    }

    .hd__nav___list____item {
        padding: 16px 0;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: .05s;
        font-size: 0.7rem;
        border: 0;
    }

    .hp__container___description {
        font-size: 0.9rem;
        margin: 64px 200px 0 200px;
    }

    .hd__btn-menu,
    .hd__nav___list____item:first-child,
    .hd__nav___list____services,
    .hd__nav___list____differentials,
    .hd__nav___list____item_____arrow {
        display: none;
    }

    .bg-2 {
        background: url('../assets/web/bg.png') no-repeat;
        background-size: cover;
    }

    .hp__container {
        margin-top: 148px;
    }

    .hp__container___title {
        font-size: 6.5rem;
        line-height: 9rem;
    }

    .hp__container___contact {
        margin-top: 64px;
    }

    .container__about {
        display: flex;
        flex-direction: column;
        padding: 64px 0;
        margin: 0 110px;
    }

    .container__about___textbox {
        width: 80%;
    }
    
}

@media only screen and (min-width: 1300px) {
    .hd__nav___list____item {
        font-size: 0.9rem;
    }

    .hd__nav___list {
        gap: 32px;
    }

    .hp__container___description {
        margin-left: 360px;
        margin-right: 360px;
    }
}