@media only screen and (max-width: 420px) {
    .hd {
        justify-content: space-between;
    }
    .hd__btn-menu {
        position: relative;
    }
    
    .hd__logo {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .move {
        width: 100%;
        border-radius: 0;
    }
    
    .open {
        left: 32px;
    }
}

@media only screen and (min-width: 425px) {
    .hp__container___title {
        font-size: 3rem;
        line-height: 5rem;    
    }
}

@media only screen and (min-width: 768px) {
    .hp__container___title {
        font-size: 5rem;
        line-height: 6rem;    
    }

    .container__services___list {
        gap: 16px;
    }

    .container__services___list____item {
        width: 357px;
        height: 450px;
    }
    
    .container__services___list____item-box {
        border-radius: 30px;
    }

    .container__services___list____item-box_____text {
        margin-top: 64px;
    }

    .title-services, .title-midia-digital-performance, .title-tec-implementations {
        font-size: 1.1rem;
    }

    .container__differentials___list____item {
        width: 300px;
        height: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    .bg-1 {
        height: 100vh;
    }
    
    .hd {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        margin: 0 110px;
    }

    .hd__nav {
        position: relative;
        padding: 0;
        order: 2;
        left: 0;
    }

    .hd__nav___list {
        gap: 10px;
        display: flex;
        text-align: center;
    }

    .hd__nav___list____item {
        padding: 16px 0;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: .05s;
        font-size: 0.7rem;
        border: 0;
    }

    .hp__container___description {
        font-size: 0.9rem;
        margin: 64px 200px 0 200px;
    }

    .hd__btn-menu,
    .hd__nav___list____item:first-child,
    .hd__nav___list____services,
    .hd__nav___list____differentials,
    .hd__nav___list____item_____arrow {
        display: none;
    }

    .bg-2 {
        background: url('../assets/web/bg.png') no-repeat;
        background-size: cover;
    }

    .hp__container {
        margin-top: 64px;
    }

    .hp__container___title {
        font-size: 6.5rem;
        line-height: 9rem;
    }

    .hp__container___contact {
        margin-top: 64px;
    }

    .container__about {
        margin: 0 110px;
    }

    .container__about___textbox {
        width: 75%;
    }
    
    .container__services {
        margin: 0 110px;
    }

    .services-img-1 {
        background: url('../assets/web/s3\ ft1.png') no-repeat center;
    }
    
    .services-img-2 {
        background: url('../assets/web/s3\ ft2.png') no-repeat center;
    }
    
    .services-img-3 {
        background: url('../assets/web/s3\ ft3.png') no-repeat center;
    }

    .container__differentials {
        padding: 0 110px;
    }

    .dif-text-paragraph {
        margin-top: 32px;
        font-size: 1rem;
        font-weight: 600;
    }

    .ft {
        display: flex;
        flex-direction: row;
        padding: 64px 110px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .ft__container {
        width: 450px;
        padding: 0;
    }

    .ft__forms {
        width: 500px;
        padding: 32px 8px;
    }
}

@media only screen and (min-width: 1300px) {
    .hd__nav___list____item {
        font-size: 0.9rem;
    }

    .hd__nav___list {
        gap: 32px;
    }

    .hp__container___description {
        margin-left: 360px;
        margin-right: 360px;
    }
}